.siteContainer{
    height: 100%;
    /* background-color: blue; */
    /* display: flex; */
    /* background-color: red; */
}

.title{
    padding: 20px;
}

.cardHolder{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    min-height: 300px;
    gap: 20px;
    padding: 20px 60px;
    min-height: 100%;

}